@import '~antd/dist/antd.css';

div {
  text-align: center;
  font: normal calc(10px + 2vmin) Helvetica, Sans-Serif; 
}

.land-header {
  /* background-color: #1972F5; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.black-bg {
  height: 50vh;
  color: white; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

.signature-wrapper {
  width: 100%;
  font-style: italic;
  text-align: right;
}

.signature {
  margin-top: 15px;
  font-size: 25px;
}

.start {
  width: 100%;
}