.joint-shape {
    margin-left: 1vw;
    margin-right: 1vw;
}

.half-circle {
    width: 200px;
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border-bottom: 0;
}

.rectangle {
  width: 200px;
  height: 150px;
  padding-top: 50px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.stat-number {
  font-weight: bold;
  color: #1972F5
}

.stat-text {
    color: #1972F5
}