@import '~antd/dist/antd.css';

div {
  text-align: center;
  font: normal calc(10px + 2vmin) Helvetica, Sans-Serif;
}

.company-name {
  font: normal calc(10px + 4vmin) Helvetica, Sans-Serif;
  color: white;
  font-weight: bold;
  margin-bottom: 5vh;
}

.stats-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}