@import '~antd/dist/antd.css';

body, html {
  height: 100%;
  margin: 0;
}

.bg-image {
  /* The image used */
  background-image: url(./assets/brain.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}